.section__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 30px;
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.section__location h2 {
    color: rgb(43, 255, 0);
}
.section__description {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.section__description span {
    color: rgb(43, 255, 0);
    
}
@media (max-width: 768px) {
    .section__location {
        width: 90%;
    }
}
@media (max-width: 576px) {
    .section__location {
        width: 90%;
        gap: 20px;
        text-align: center;
        padding: 10px;
    }
    .section__description {
        gap: 20px;
    }
}